.st-amount {
    position: relative;
    padding: 0;
    border: none;
    margin: 16px 0;
    overflow: visible;
}
.st-icon {
    position: absolute;
    right: 0;
    top: calc(50% - 20px);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.st-icon path {
    stroke: var(--marine500);
}
.st-amount:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    width: 60px;
    background-color: var(--marine500);
    height: 2px;
    border: none;
    font-size: 1px;
    transition: all 200ms ease-out;
}
.st-amount.has-error label {
    color: var(--red500) !important;
}
.st-amount.has-error:after {
    background-color: var(--red500) !important;
}
.st-amount label {
    position: absolute;
    /* top: 0; */
    left: 0;
    transform-origin: 0 -150%;
    transition: transform 300ms ease;
    pointer-events: none;
    /* color: var(--text); */
    font-size: 14px;
    letter-spacing: 0.16px;
    line-height: 20px;
    transition: all 0.25s ease-in-out;

    top: -20px;
    position: absolute;
    color: var(--marine500);
    font-weight: 600;
    letter-spacing: 0.16px;
    line-height: 20px;
    font-size: 12px;
}
.st-amount input {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 0 8px;
    border: none;
    border-radius: 0;
    outline: none;
    cursor: text;
    position: relative;
    background: transparent;
    border-bottom: 2px solid var(--grey100);
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.12px;
    font-family: var(--secondary-font);
}
.st-amount input:hover {
   /* color */
    border-bottom: 2px solid var(--grey200);
}
/* .st-amount input:focus::-webkit-amount-placeholder {
    opacity: 1;
    color: var(--grey100);
}
.st-amount input::-webkit-amount-placeholder {
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
}
.st-amount input::-webkit-amount-placeholder {
    opacity: 0;
    -webkit-transition: 300ms ease;
    transition: 300ms ease;
} */
.st-amount input:not(:-moz-placeholder-shown) + .st-amount__label {
    opacity: 1;
    /* color: var(--grey100); */
    color: var(--text);
    transform: translate3d(0, -12px, 0) scale(0.75);
}

.st-amount--is-not-empty::after {
    width: 100%;
}
.st-amount:focus-within::after {
    width: 100%;
}