@import '../../design-tokens/colors.css';
.st-button {
  padding: 9px 64px;
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.12px;
  line-height: 24px;
  text-align: center;
  min-width: 140px;
  outline: none;
  border-radius: 2px;
}
.st-button--primary {
  border: 1px solid var(--marine600);
  background-color: var(--marine500);
  background: linear-gradient(
    153.43deg,
    var(--marine500) 0%,
    var(--marine600) 100%
  );
  color: var(--white);
}
.st-button--primary:hover {
  background-color: var(--marine400);
  cursor: pointer;
}
.st-button--secondary {
  border: none;
  background-color: transparent;
  color: var(--marine500);
}
.st-button--secondary:hover {
  cursor: pointer;
  color: var(--marine400);
}
.st-button--white {
  font-family: var(--secondary-font);
  border: none;
  background: linear-gradient(153.02deg, rgba(250, 249, 252, 0.15) 0%, rgba(229, 228, 232, 0.15) 83.23%), #FAF9FC;
border: 1px solid rgba(229, 228, 232, 0.15);
box-sizing: border-box;
border-radius: 2px;
  color: var(--grey1000);
  font-size: 12px;
line-height: 24px;
font-weight: 700;
padding: 6px 64px;
}
.st-button--white:hover {
  cursor: pointer;
  color: var(--grey900);
}
.disabled {
  opacity: 0.5;
}
.disabled:hover {
  cursor: not-allowed;
}
