.st-input {
    position: relative;
    margin-bottom: 8px;
}

.st-input .st-icon {
    position: absolute;
    right: 0;
    bottom: 7px;
}

.st-input svg {
    cursor: pointer;
}

.st-input .st-icon svg + svg {
    margin-left: 24px;
}

.st-input svg, path, circle {
    transition: 0.3s;
}

.st-input:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    border-bottom: 1.5px solid var(--marine400);
    width: 0;
    transition: 0.3s;
}

.st-input:focus-within:after {
    width: 60px;
}

.st-input .st-input__inner {
    box-sizing: border-box;
    width: 100%;
    padding: 4px 0;
    outline: none;
    border: none;
    background: transparent;
    transition: 0.3s;
}

.st-input .st-input__inner::placeholder {
    transition: 0.3s;
}
